.image-area {
  width: 100%;
  height: 100%;
}
.mainImage {
  max-width: 100%;
}
.textbox {
  font-size: 7.6vw;
  border-bottom: none;
}
.subtextbox {
  font-size: 4.6vw;
}
.border {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37%;
  height: 0.8%;
  background-color: white;
}

.changetext {
  display: block;
  max-width: 500px;
}
.titlearea {
  margin-right: 0px;
}
.subtitlearea {
  margin-top: 20px;
}

.changeImage {
  width: 655px;
}
.imagebutton {
  flex-flow: wrap;
}
.imagebtn {
  margin-right: 0px;
}
.btn1 {
  margin-right: 55px;
}
.btn3 {
  margin-top: 54px;
}
.downloadbtn:hover {
  background: #2E2FF3;
  color: white;
}
.resetbtn:hover {
  background-color: #1D1D1D;
  color: white;
} 